* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

section [id]{
  scroll-margin-top: 80px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
}

.container {
  margin: auto; 
  position: fixed;
}


.logo {
  height: 50px;
  width: 170px;
  display:flex;
  align-items: center;
  font-size: 18px;
  }

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  background-color: #294674;
}


/*Menú*/

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  display: block;
  background-color: #f3f3f3;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.menu1 {
  display: flex;
  padding: 0;
}

.menu1 li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}

.menu1 li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f3f3f3;
  font-weight:100;
  text-transform: uppercase;
  
}

.menu1 li:hover {
  background-color: rgb(62, 130, 197);
}


#bienvenida {
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 75vh;
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(img/imageninicial.png);
  background-repeat: no-repeat;
  background-size: cover;  
}

.contBienvenida{
  color: rgba(63, 46, 3, 0.664);
  padding: 20px;
  background-color: rgba(18, 152, 170, 0.6);
  border-radius: 20px;
  margin: 25px;
} 

#bienvenida button {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(197, 163, 12);
  color:rgb(15, 49, 141);
  border-radius: 50px;
}

#queEsLol .container {
  text-align: center;
  padding: 100px 12px;
}

#detallesLol {
  background-color: rgb(5, 48, 65);
  color: white;
  text-align: center;  
}

#detallesLol .container {
  padding: 0px 60px;
  margin-top:100px;
}

#detallesLol h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#detallesLol p {
  text-align: justify;
  padding: 25px;
}

#detallesLol .carta {
  background-position: center center;
  background-size: cover;
  margin: 30px;
  border-radius: 15px;
  padding: 20px; 
  background-color: rgb(7, 84, 104);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
  max-width: 80%;
  margin-left: 140px;
}

.carta :first-child{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),;
}

.carta :nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/fondoblanco.png);
}

#conoceLosCampeones {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(197, 163, 12);
  color:rgb(15, 49, 141);
  border-radius: 50px;
  margin-bottom: 40px;
}

#campeones {
  background-color: rgb(24, 21, 21);
}

/* #campeones p{
  color: white;
  text-align: center;
  margin-top: 60px;
  margin-left: 300px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  background-color: rgba(128, 179, 221, 0.3);
  border-radius: 10px;
  max-width:60%;  
} */

.menu2 {  
  position:relative;   
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;   
}


.todosCampeones {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(197, 163, 12);
  color:rgb(15, 49, 141);
  border: solid 2px #eef1efb2;
  border-radius: 5px;
  margin-bottom: 40px;
}

/*Estilos cartas de campeones*/

#container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;  
  margin-top: 80px;
  margin-left: 140px;
  transition: 0.5;
}

.splash {
  width: 20em;
  height: 250px;
  border: solid 2px #eef1efb2;
  border-radius: 10%;
  object-fit: cover;
  box-shadow:  0px 10px 10px 0px rgba(90,116,148,0.3);
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.championsName{
  text-shadow: 0 0 2px #fff ;
  display: block;
  margin-block-start: -2.5em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  color:white;
  font-size:2em;
  font-family:Sahitya;
  align-self: center;
  padding: 1em 0em 1em 3.3em;
}

textarea, select, input, button {
  outline: none;
}

.hide{
  display: none;
}

/*Ventana modal*/

.modal {
position: fixed;
align-items: center;
justify-content: center;
z-index: 3;
overflow: auto;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
}


.modalInfo {
  border-radius: 0.1em;
  margin: 0.2em;
  margin-top: -2em;
  padding: 0.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  }

.modalContent {
  font-size: 26px;
  background: #020A11;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 350px;
  height: 390px;
  color: #136675;
  position: absolute;
  text-align: center;
  top: 2.1em;
  bottom: 4em;
  right: 3em;
  left: 18em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  box-shadow:  0px 10px 10px 0px rgba(90,116,148,0.3);
  margin-top: 80px;
}

.close{
  font-size: 35px;  
  margin-left: 90%;
  cursor: pointer;
}

.imgSplash{
  border-radius: 4px;
  width: 150px;
  height: 180px;
  margin-left: 10px;
  flex-direction:row;
  float: left;
}

.modalName{
  display: flex;
  flex-direction: row;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  padding: 0px 20px;
}

.modalTitle{
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}

.modalTags{
  font-size: 15px;
  color: #fff;
  margin: 1%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.stats{
  display: flex;
  margin-left: 10%;
  margin-right: 2%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  top: 340px;
  font-size: 14px;
  color: #136675;
}

.info {
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  top: 129px;
  font-size: 19px;
  color: white;
  right: 15px;
}

.nombreCampeon { 
  text-align: center;
  font-size: 25px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search {
  width: 20em;
  height: 3.5em;
  border: none;
  color: #315d90;
  background-color: rgba(8, 8, 8, 0.5);
  filter: alpha;  
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0em 1em 0em 1em;
  box-shadow: 0 3px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  user-select: none;
}

#buttonOrder {
  width: 20em;
  height: 3.5em;
  border: none;
  color: #315d90;
  background-color: rgba(8, 8, 8, 0.5);
  filter: alpha;  
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0em 2em 0em 2em;
  box-shadow: 0 3px;
  margin-left: 5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  user-select: none;
}

.campeonesxrol{  
  display: none;   
  justify-content: space-between;  
  margin-top: 40px; 
  margin-left: 20px;
  padding: 0px 150px;
}

.estiloBoton {
  width: 9em;
  height: 4em;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(11, 57, 156, 0.5);
  cursor: pointer;
  margin-left: 2em;
  margin-right: 0.5em;
  margin-top: 50px; 
}

.campeonesxrol{  
  display: none;   
  justify-content: space-between;  
  margin-top: 40px; 
  margin-left: 20px;
  padding: 0px 150px;
}

.campeonesxrol img{
  width: 70%;
}

.campeonesxrol img{
  width: 70%;
}

.buttonRol{
  background:rgb(50, 50, 51);
  border: 4px solid rgba(235, 202, 18, 0.856);
  border-radius: 20px;
  width: 150px;
  height: 150px;
  box-shadow: 3px 10px 17px 3px rgba(0,0,0,0.75);
  margin-bottom: 10px;  
  cursor: pointer;
  color:rgb(187, 161, 14);  
  text-align: center;  
  font-size:18px;
}

/*Sección Estadísticas*/

.estadisticas {
  width: 100%;
  height: 120%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  background-color: rgb(24, 21, 21);
  margin-bottom: 40px;
}

.sectionAvage {
  margin: 10px;
  -webkit-perspective: 800;
  perspective: 800;
}

.divMapLol {
  width: 300px;
  height: 350px;
  background: #0b4f7c;
  border-radius: 20px;
  position: relative;
  transform-style: preserve-3d;
  transition: .7s ease;
  box-shadow: 2px 2px 10px rgba(175, 174, 192, 0.8);
}

.adelante, .attackChampion {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.adelante {
  width: 100%;
}

.attackChampion {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sectionAvage:hover .divMapLol{
  transform: rotateY(180deg);
}

.card1 {
  background-image: url(img/ataque.png);
  background-size: cover;
  background-position: center;
}

.adelante, .spellBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.spellBlock {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.adelante, .crit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card2 {
  background-image: url(img/card2.png);
  background-size: cover;
  background-position: center;
}

.crit {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card3 {
  background-image: url(img/card3.png);
  background-size: cover;
  background-position: center;
}
  

/*Media queries para diseño Responsive*/

@media (max-width: 950px) {

  #detallesLol .carta {
    padding: 20px; 
    background-color: rgb(7, 84, 104);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    max-width: 70%;  
    margin: auto;
    margin-top: 10px;
  } 

  /*Menú*/

  .logo {
      margin-left: 20px;  
  }

  .ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: 0.2s 0.1s;
  }

  .ham:hover  {
    transform: rotate(360deg);
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }

  .menu1 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    opacity: 0;
  }

  .menu1 li {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .estadisticas {
    flex-direction: column;
    align-items: center;
  
  }
}

/*Animación icono ham*/
@keyframes muestraMenu {
  from{opacity: 0;}
  to{opacity: 1;}
}
.menu1.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
  opacity: 0;
}

.br-3.animado{
  transform: rotate(45deg) translate(-10px, -8px);
}


/* Estilo opcion buscar*/

    .buttonRol{      
      width: 110px;
      height: 90px;      
      font-size:14px; 
    }

    #container{      
      max-width: 80%;  
      margin-top: 60px;
      margin-left: 50px;      
    }

/* Estilo ventana modal*/

  .modal {
      position: fixed;
      /*z-index: 6;*/
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

  .modalContent {
      font-size: 10px;
      width: 300px;      
      text-align: unset;
      position: absolute;
      top: 2.5em;
    }  

  .modalTitle {
      color: #136675;
      font-size: 20px;
      text-align: center;
    }
  
  .info {
      font-size: 12px;
    }
  
  .modalTags {
      text-align: center;
  } 

